# Byte-compiled / optimized / DLL files
__pycache__/
data/.DS_Store
*.log
.idea
*.pkl
try.py
try/
try.slurm
GAT_cora/
GAT_FB15K237/
GAT_FB15K237_rel/
GAT_FB15K237_4000/
GAT_WN18RR/
GAT_WN18RR_rel/
GAT_WN18RR_4000/
!GAT_result/*
